_miscs/lyrics/aha.exe
_miscs/lyrics/aha
publish/
private/
tmp/
*~
*#
_posts/index.md
_reads/*.html
tmp*
conf.json
q*.exe
*.swp
*.7z
*.zip
*.rar
tmp.sh
{
tex2pdf*/
/_miscs/slides/*.html
/_miscs/slides/*.pdf
/search.sh
tex2pdf*/
search.sh
*.jar
# shit
.DS_Store
