* {
    font-family: Consolas, Inpact, Arial, Hiragino, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, STXihei, Heiti, sans-serif;
}

ul li div { 
    text-align: center;
    display: block;
    border: 1px dotted lightgray;
    padding: none;
}

div {
    font-size: 3px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
}

div:hover {
    font-size: 16px;
}

.accordian ul li     {width: 194px;}
.accordian ul li div {width: 194px;}
.accordian ul:hover li     {width: 194px;}
.accordian ul:hover li div {width: 194px;}
.accordian ul li:hover     {width: 618px;}
.accordian ul li:hover div {width: 618px;}
.accordian ul li:hover     { overflow-y: hidden; }
.accordian ul li:hover div { overflow-y: auto; }

.dictated {
    box-shadow: 0 0 25px 10px rgba(136, 125, 221, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(136, 125, 221, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(136, 125, 221, 0.5);
    color: #887ddd;
}

.diffed {
    // 橙色 #ff8345
    box-shadow: 0 0 25px 10px rgba(255, 018, 068, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(255, 018, 068, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(255, 018, 068, 0.5);
/* 灰色 #d1d2d4
    box-shadow: 0 0 25px 10px rgba(209, 210, 212, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(209, 210, 212, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(209, 210, 212, 0.5);
*/
    color: black;
}

.diffed:hover {
    overflow-y: auto;
}

.original {
    box-shadow: 0 0 25px 10px rgba(  0, 159,  93, 0.5);
    -webkit-box-shadow: 0 0 25px 10px rgba(  0, 159,  93, 0.5);
    -moz-box-shadow: 0 0 25px 10px rgba(  0, 159,  93, 0.5);
    color: #019fa0;
}

.accordian * {
    margin: 0; 
    padding: 0;
    height: 460px;
    overflow: hidden;
}

.accordian {
    position: absolute;
    height: 460px;
    left: 15px;
    top: 10px;
    margin: none;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
    -moz-box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.35);
}

.accordian ul {
}

.accordian li {
    position: relative;
    display: block;
    float: left;
    background-color: white;
}

html, body {
    width: 1050px;
    height: 480px;
}

p {
    display: inline;
    border: none;
    padding: none;
    margin: 10px;
}