html {
    font-size: 150%;
    font-family: "Lucida Grande", "Lucida Sans Unicode", Lucida, Helvetica, Tahoma, Arial, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", SimSun, STXihei, Heiti, sans-serif;
}

body {
    margin: auto;
    padding-right: 1em;
    padding-left: 1em;
    max-width: 44em; 
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: black;
    font-size: 100%;
    line-height: 140%;
}

div#TOC {
    float: right;
    clear: right;
    font-size: 10pt;
    padding: 0px 30px 0px 0px;
    background: #eee;
    border: solid 1px #ccc;
    margin: 125px 0px 10px 15px;
}

p {
    padding-bottom: 20px;
}

code {
    font-family: Monaco, Menlo, Consolas, "Courier New", Monospace, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", STXihei, Heiti, sans-serif;
    color: #d14;
}

p code {
    padding: 0px 3px 2px;
    white-space: nowrap;
    background-color: #f7f7f9;
    border: 1px solid #e1e1e8;
    border-radius: 3px; 
}

kbd {
    padding-left: .25rem;
    padding-right: .25rem;
    font-family: sans-serif;
    border: solid 1px #c2c2c2;
    border-radius: 4px;
    background-color: #f0f0f0;
    box-shadow: 1px 1px silver;
}

pre {
    border: 1px dotted gray;
    background-color: #ececec;
    color: #1111111;
    padding: 0.5em;
}

code.url {
    background-color: inherit;
    box-shadow: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a { 
    text-decoration: none;
    color: blue; 
}

h1, h2, h3, h4, h5, h6 {
    color: white;
    font-weight: bold;
    margin: 10px 15px 20px 0px;
    padding: 0.5em;
    line-height: 180%;
    font-family: Inpact, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

p {
    margin-bottom: 5px;
    margin-top: 10px;
}    

h1 {
    font-size: 200%;
    font-weight: bold;
    background: black;
    padding-bottom: 0.2em;
    margin: 30px 0px 50px 0px;
    border: none;
    text-align: center;
}

h2 {
    border-left: 8px dotted white;
    font-size: 130%;
    background: #887ddd;
}

h3 {
    border-left: 4px dotted white;
    font-size: 105%;
    background: #019fa0;
}

h4 {
    border-left: 2px dotted white;
    font-size: 95%;
    background: #009f5d;
}

h5, h6 {
    border-left: 1px dotted white;
    font-size: 70%;
    background: #009f5d;
}

caption {
    caption-side: top;
    border: none;
    font-size:  0.9em;
    font-style: italic;
    text-align: center;
    margin-top:  0.5em;
    margin-bottom:  0.3em;
    padding-bottom: 0.2em;
}

#footer {
    padding-top: 1em;
    font-size: 70%;
    color: gray;
    text-align: center;
}

h1.title {
    // visibility: hidden; 
    display: none;
}

h2.author {
    display: none;
}
 
h3.date {
    display: none;
}

div.slogan {
    margin-top:  50px;
    margin-bottom:  50px;
    font-size: 200%;
    font-variant:small-caps;
}

/*
body:nth-child(2) > p { // tags
    // visibility: hidden;
    font-size: 1%;
}
*/

blockquote {
    padding: 10px 15px;
    margin-bottom: 20px;
    background-color: whitesmoke;
    border-left: 4px solid #999999;
    word-break: break-word;
    font-weight: 100;
    line-height: 30px;
}

table {
    border-collapse: collapse;
    border: 1px solid #AAA;
}

table th {
    padding: 5px;
    border: 1px solid #AAA;
}

table td {
    padding: 5px;
    border: 1px solid #AAA;
}

tr.head {
    background: #EEE;
}

.figure {
    margin: 0 auto 20px;
    text-align: center;
    display: block;
}

.figure img {
    display: block;
    max-width: 100%;
    width: auto\9;
    height: auto;
    margin: auto;
    vertical-align: middle;
    text-align: center;
}

.figure .caption {
    min-width: 20%;
    min-height: 22px;
    display: inline-block;
    padding: 10px;
    margin: 0 auto;
    border-bottom: 1px solid #d9d9d9;
    font-size: 13px;
    color: #999999;
    font-style: italic;
    line-height: 1.7;
}

#buckets div {
    display: inline-block;
    border: 1px solid #c2c2c2;
    border-radius: 4px;
    padding: 0.5em 1em 0.5em 1em;
    background-color: #f0f0f0;
    box-shadow: 1px 1px silver;
    font-variant:small-caps;
}

#buckets div a {
    text-decoration: none;
}